<% layout('/layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="text" id="price" name="campground[price]" placeholder="0.00" value="<%= campground.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Amenities</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="campground[options][bathrooms]" value="true" id="bathrooms" <%= options.bathrooms  %> >
                    <label class="form-check-label" for="bathrooms">
                        <%-icons.bathrooms%>Bathrooms
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="campground[options][electricity]" value="true" id="electricity" <%= options.electricity  %>>
                    <label class="form-check-label" for="electricity">
                        <%-icons.electricity%>Electricity
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="campground[options][water]" value="true" id="water" <%= options.water  %>>
                    <label class="form-check-label" for="water">
                        <%-icons.water%>Water
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="campground[options][shop]" value="true" id="shop" <%= options.shop  %>>
                    <label class="form-check-label" for="shop">
                        <%-icons.shop%>Shop
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="campground[options][rvHookup]" value="true" id="rvHookup" <%= options.rvHookup  %>>
                    <label class="form-check-label" for="rvHookup">
                        <%-icons.rvHookup%>RV Hookup
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="campground[options][petFriendly]" value="true" id="petFriendly" <%= options.petFriendly  %>>
                    <label class="form-check-label" for="petFriendly">
                        <%-icons.petFriendly%>Pet Friendly
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <h5> Delete Images </h5>
            <div class="row row-cols-1 row-cols-md-3 g-2 mb-3">
                <% campground.images.forEach((image, i) => { %>
                    <div class="col">
                        <div class="card">
                            <input class="form-check-input visually-hidden" type="checkbox" name="deleteImages[]" value="<%= image.filename %>" id="image-<%= i %>">
                            <label for="image-<%= i %>"><img class="card-img" src="<%= image.thumbnail %>" alt=""></label>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="mb-3">
            <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <div class="mb-3">
            <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
        </div>
    </div>
</div>
